# Archivos y directorios creados por pub
.dart_tool/
.packages
build/
pubspec.lock

# Directorios específicos del sistema operativo
.DS_Store
.idea/
.vscode/

# Flutter plugins y dependencias
.flutter-plugins
.flutter-plugins-dependencies

# Archivos de configuración del editor
*.iml
*.swp

# Archivos generados por la compilación de Flutter
android/.gradle/
android/.idea/
android/app/*.iml
ios/Flutter/
ios/.symlinks/
ios/Pods/
ios/.swiftpm/
ios/.xcworkspace/
ios/.idea/
ios/.gradle/
ios/Podfile.lock
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig

# Linux, macOS, Windows y Web (Flutter)
linux/flutter/
linux/cmake-build-debug/
linux/ephemeral/
linux/.idea/
linux/.dart_tool/
linux/.vscode/
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugin_registrant.h

macos/.generated/
macos/.dart_tool/
macos/.idea/
macos/.vscode/
macos/Flutter/
macos/Pods/
macos/.symlinks/
macos/cmake-build-debug/
macos/.flutter-plugins/
macos/.flutter-plugins-dependencies/
macos/.xcworkspace/
macos/Flutter/App.framework
macos/Flutter/Flutter.framework
macos/Flutter/Generated.xcconfig
macos/Podfile.lock

windows/flutter/
windows/.idea/
windows/.dart_tool/
windows/.vscode/
windows/.flutter-plugins/
windows/.flutter-plugins-dependencies/
windows/.flutter/
windows/.git/
windows/cmake-build-debug/
windows/.gradle/
windows/generated_plugin_registrant.cc
windows/generated_plugin_registrant.h

web/flutter/
web/.idea/
web/.dart_tool/
web/.vscode/
web/.flutter-plugins/
web/.flutter-plugins-dependencies/
web/.git/

# Archivos generados por la documentación
doc/api/

# Archivos de configuración y caché del sistema
.env*
*.log
*.pid
*.seed
*.yaml.swp

# Evitar la inclusión de archivos generados por Dart
*.dart.js
*.info.json
*.js
*.js_
*.js.deps
*.js.map

# Cache de paquetes
.pinned
*.dart_tool*

# Evitar inclusión de tests fallidos en el cache de test
test/.test_failures

# Archivos generados por Fastlane (iOS y Android)
ios/fastlane/report.xml
android/fastlane/report.xml

# Claves de firma y credenciales sensibles
android/key.properties
ios/Runner/GoogleService-Info.plist
android/app/google-services.json
firebase_app_id_file.json

# Archivos de logs y crash reports
*.crash
*.log
*.out
*.lock
